<mat-toolbar class = "main-toolbar">
  <mat-toolbar-row>
    <div fxLayout="column" fxLayoutGap="16px"  fxLayoutAlign="flex-end" [ngClass]="logoClass" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
      <div class = "namelogo">
          <img src = "../../assets/img/logo.png" class = "logo" routerLink = "/">
      </div>
    </div>

    <span class="spacer"></span>
    <div class = "router-right">
      <button id = 'home' class = "router-right-item" mat-button routerLink = "/"[ngx-scroll-to]="'#home'">Home</button>
      <button class = "router-right-item" mat-button routerLink = "/" [ngx-scroll-to]="'#projects'">Projects</button>
      <button id = 'contact' class = "router-right-item" mat-button routerLink = "/contact">Contact</button>
      <button id = 'logout' class = "router-right-item" mat-button *ngIf="isLogged()" (click) = "logout()" routerLink = "/">Logout</button>
    </div>
    <span class="lil-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group class = "main-tab">
  <mat-tab label="Home"  [ngx-scroll-to]="'#home'" routerLink = "/"></mat-tab>
  <mat-tab label="Projecs" [ngx-scroll-to]="'#projects'" routerLink = "/"></mat-tab>
  <mat-tab label="Contact"  routerLink = "/contact"></mat-tab>
</mat-tab-group>
