<mat-toolbar class = "main-toolbar">
  <mat-toolbar-row>
    <span class = "name">Jarema Radom</span>
    <span class="spacer"></span>
    <div class = "router-right">
      <button class = "router-right-item" mat-button>Home</button>
      <button class = "router-right-item" mat-button>Projects</button>
      <button class = "router-right-item" mat-button>Contact</button>
    </div>
    <span class="lil-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group class = "main-tab">
  <mat-tab label="Home"></mat-tab>
  <mat-tab label="Projecs"></mat-tab>
  <mat-tab label="Contact"></mat-tab>
</mat-tab-group>
