.title{
  margin-top: 2%;
  text-align: center;
}

.button-logout{
  right:10%;
  top: 10%;
}

table {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  width: 80%;
}

.delet{
  cursor: pointer;
}

.project-form{
  margin-top: 5rem;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
}

.file-input{
  width:80%;
}
