<div fxLayout="column" fxLayoutGap="16px"  fxLayoutAlign="center center" class = "animated slideInRight pad">

  <div class="project-form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && getErrors('email') }" />
            <div *ngIf="submitted && getErrors('email')" class="invalid-feedback">
                <div *ngIf="getError('email','required')">Email is required</div>
                <div *ngIf="getError('email','email')">Not a proper email</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Password</label>
            <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getErrors('password') }" />
            <div *ngIf="submitted && getErrors('password')" class="invalid-feedback">
                <div *ngIf="getError('password', 'required')">Password is required/div>
            </div>
        </div>
        </div>
        <button mat-raised-button color="primary" class = "button-send" [disabled] = "submitted || loginForm.pristine">Log in</button>
    </form>
  </div>


  </div>
