


<h1 class="h1-responsive title" id = "title"> Full Stack Developer.</h1>
<h3 class="h3-responsive howdy" id = "home"> Delivering high quality solutions with minimal client's effort.</h3>
<img src = "../../assets/img/serious_dev.jpg" class = "professional-image">
<div class = "skills-big">
<div fxLayout="row" fxLayoutGap="32px" class = "skill-layout">
  <ng-container *ngFor="let tile of tiles">

      <mat-card class="skill-card" [ngStyle] = "{'background-color': tile.color}">

          <div class = "skill-icon sk-icon-big" [innerHTML]= 'tile.iconBIG'></div>
          <div class = "skill-icon sk-icon-small" [innerHTML]= 'tile.iconSMALL'></div>

          <div class = "skill-text-center">
              <h1>{{tile.text}}</h1>
          </div>

          <h3 class = "skill-firstCap marignalizeTop"> {{tile.firstCap}} </h3>
          <div class = 'first-section'>
            <p>{{tile.firstCapContent}}</p>
          </div>
          <h3 class = "skill-secCap marignalizeTop"> {{tile.secCap}} </h3>
          <div class = 'sec-section'>
            <p>{{tile.secCapContent}}</p>
          </div>

      </mat-card>


  </ng-container>
 </div>
</div>
<div class = "skills-small">
<div fxLayout="column" fxLayoutGap="16px"  fxLayoutAlign="center center">
  <ng-container *ngFor="let tile of tiles">

      <mat-card class="skill-card-small" [ngStyle] = "{'background-color': tile.color}">

          <div class = "skill-icon sk-icon-big" [innerHTML]= 'tile.iconBIG'></div>
          <div class = "skill-icon sk-icon-small" [innerHTML]= 'tile.iconSMALL'></div>

          <div class = "skill-text-center">
              <h1>{{tile.text}}</h1>
          </div>

          <h3 class = "skill-firstCap marignalizeTop"> {{tile.firstCap}} </h3>
          <div class = 'first-section'>
            <p>{{tile.firstCapContent}}</p>
          </div>
          <h3 class = "skill-secCap marignalizeTop"> {{tile.secCap}} </h3>
          <div class = 'sec-section'>
            <p>{{tile.secCapContent}}</p>
          </div>
      </mat-card>
  </ng-container>
 </div>
</div>

<h1 class="h1-responsive portfolio" id = "home">Portfolio</h1>


<app-projects class = "projects" id = "projects"></app-projects>
