
<h1 class="h1-responsive howdy">Howdy, my name is Jarema, I'm Full Stack Developer. I'm working remotely for clients all over the world.</h1>


<img src = "../../assets/img/serious_dev.jpg" class = "professional-image">


<div class="container skills-grid d-flex align-items-stretch">
  <div class="row align-items-start">
    <div class="col" *ngFor="let tile of tiles" [ngStyle] = "{'background-color': tile.color}">
      <div class = "skill-icon sk-icon-big" [innerHTML]= 'tile.iconBIG'></div>
      <div class = "skill-icon sk-icon-small" [innerHTML]= 'tile.iconSMALL'></div>

      <div class = "skill-division">
          <h1>{{tile.text}}</h1>
        </div>
        <h3 class = "skill-firstCap"> {{tile.firstCap}} </h3>
      <div class = 'first-section'>
        <p>{{tile.firstCapContent}}</p>
      </div>
      <h3 class = "skill-secCap"> {{tile.secCap}} </h3>
      <div class = 'sec-section'>
        <p>{{tile.secCapContent}}</p>
      </div>
    </div>
  </div>
</div>
