@import '../../styles-variables.scss';

.professional-image{
  top: 10rem;
  margin-top: 5rem;
  object-fit: cover;
  object-position: 100% 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80rem;
  height: 40rem;
}
.skills-grid{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.howdy{
  margin-top: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  display: inline-block;
}

.skill-icon{
  margin-top: 2rem;
}

@media( min-width: map-get($grid-breakpoints, sm)) {
  .sk-icon-big   { display: 1; }
  .sk-icon-small { display: none; }
}

@media( max-width: map-get($grid-breakpoints, sm)) {
  .sk-icon-big   { display: none; }
  .sk-icon-small { display: 1; }
}
